{% block content %}
<a href="{{ url_for('index') }}">Home Page</a>
<a href="{{ url_for('register') }}">Refresh</a>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js" integrity="sha512-dQIiHSl2hr3NWKKLycPndtpbh5iaHLo6MwrXm7F0FM5e+kL2U16oE9uIwPHUl6fQBeCthiEuV/rzP3MiAB8Vfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<h1>{% block title %} Register New User {% endblock %}</h1>
    <div class="stream" id="regwebcam">
    </div>
    <script>
      $( "#regnew" ).click(function() {
        window.location.reload();
        $(".message_flash").show("slow").delay(5000).hide("slow"); 
})   
    </script>
    <script language="JavaScript">
      Webcam.set({
        width: 320,
        height: 240,
        // device capture size
              dest_width: 320,
              dest_height: 240,
              // final cropped size
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach( '#regwebcam' );
    </script>
        <label for="title">Name</label>
        <br>
        <input onkeydown="return /[a-z]/i.test(event.key)" type="text" name="user" placeholder="name..." id="usernam">
        <br>
        <label for="content">Capture Photo with Face</label>
        <br>
        <div id="snap"></div>
        <button class="ui primary button" id="snapcapture">Capture</button>
 {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}
{% block body %}
{% endblock %}
    <script>
var snapButton = document.getElementById("snapcapture");
snapButton.addEventListener("click", async function () {
        Webcam.snap( function(data_uri) {
          document.getElementById('snap').innerHTML = '<form method="POST" enctype="multipart/form-data" id="myFormm"></form>'+'<img id="newsource" src="'+data_uri+'"/>'+'<button class="ui primary button" id="regnew" onClick="registersnap()">Register New User</button>';
      } );      
      });
function registersnap(){
    var form = document.getElementById('myFormm');
          var formData = new FormData(form);
          let username = document.getElementById("usernam").value;
          let imgsrc = document.getElementById("newsource").src;
          formData.append("user",username)
          formData.append("content", imgsrc);
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("POST", "/register");
          xmlhttp.send(formData);
}
    </script>
{% endblock %}